//   ---   Some Adaptive code here   ---   //

@media screen and (max-width: 940px)
  .header_wrap
    flex-direction: row
    flex-wrap: wrap
    nav
      margin: 3% 10px 0 10px
      order: 2
    .container
      max-width: 920px
  .top_banner_wrap
    padding: 50px 0 50px 0
    section
      flex-wrap: wrap
      padding: 20px
      align-items: center

@media screen and (max-width: 740px)
  .container
    nav
      display: none
@media screen and (min-width: 320px)
  .stock_ex_header
    display: none
  .stock_logo
    order: -1
  .stock_ex_unit
    flex-wrap: wrap
    align-items: start
    justify-content: space-between
  .stock_links
    display: flex
  .stock_ex_unit
    padding: 15px 15px 15px 15px
  
