@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@keyframes menu_animation {
  from {
    color: white; }
  to {
    color: #6610f2; } }

@media screen and (max-width: 940px) {
  .header_wrap {
    flex-direction: row;
    flex-wrap: wrap; }
    .header_wrap nav {
      margin: 3% 10px 0 10px;
      order: 2; }
    .header_wrap .container {
      max-width: 920px; }
  .top_banner_wrap {
    padding: 50px 0 50px 0; }
    .top_banner_wrap section {
      flex-wrap: wrap;
      padding: 20px;
      align-items: center; } }

@media screen and (max-width: 740px) {
  .container nav {
    display: none; } }

body {
  background-color: #ffffff;
  font-family: Ubuntu;
  font-weight: 400; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body li {
    display: inline-block;
    margin-left: 70px; }
    body li a {
      text-decoration: none;
      text-transform: capitalize;
      color: #2c2738;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0;
      text-align: right;
      font-family: Ubuntu; }
      body li a:hover {
        color: #0880ae; }

h1 {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  font-size: 51px; }

header {
  padding: 25px 0 24px 0;
  background-color: #dae8ee;
  margin-bottom: 100px;
  box-shadow: 0px 35px 70px rgba(0, 0, 0, 0.08); }

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px 0 15px; }

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo_wrap {
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo_wrap span {
    font-weight: 500;
    font-size: 25px; }
  .logo_wrap img {
    margin: 0 10px 0 10px; }

#svg_search_wrap {
  position: relative; }

#search_icon {
  position: absolute;
  right: 23.26%;
  top: 25.53%; }

.top_banner_wrap {
  background-color: white;
  margin-bottom: 100px; }
  .top_banner_wrap section {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .top_banner_wrap section p {
      max-width: 634px;
      color: #728191;
      font-size: 20px; }

.crypto_description_part {
  width: 1400px; }

.crypto_currency_slider_wrap {
  position: relative;
  width: 95%;
  height: 220px;
  overflow: hidden; }

.crypto_currency_slider {
  position: absolute;
  left: 0;
  font-size: 18px;
  display: flex;
  height: 100%;
  width: 100%; }

.slide_but button {
  position: absolute;
  width: 36px;
  height: 36px;
  background: url("img/strel.svg") no-repeat;
  background-size: contain;
  right: -46px;
  top: calc(50% - 18px);
  z-index: 100;
  border: none; }

.slider_unit_wrap {
  display: flex;
  align-items: center;
  height: 100%; }

.slide_unit {
  padding: 16px 15px 16px 15px;
  height: 100px;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.05);
  margin-left: 35px; }

.small_logo_wrap {
  padding: 10px;
  margin-right: 15px;
  background: rgba(214, 207, 110, 0.1);
  border-radius: 10px; }

.small_main_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; }

.text_line_wrap span:first-child {
  margin-right: 10px; }

.text_line_wrap span:last-child {
  color: #728191; }

.numbers_line_wrap {
  font-weight: 500;
  display: flex;
  justify-content: space-between; }
  .numbers_line_wrap span:first-child {
    font-size: 18px; }
  .numbers_line_wrap span:last-child {
    color: #F32F22;
    position: relative; }
    .numbers_line_wrap span:last-child:before {
      content: '';
      position: absolute;
      right: -13px;
      top: 0%;
      width: 11px;
      height: 14px;
      background: url("img/proc.svg") no-repeat; }

.stock_ex_wrap {
  background-color: #EBF4F8;
  padding-top: 60px; }

.stock_ex_header {
  border-radius: 24px 24px 0 0;
  background-color: #DAE8EE;
  padding: 18px 0 17px 0;
  display: flex;
  color: #728191;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  align-items: center; }
  .stock_ex_header div:last-child {
    margin-right: 60px;
    width: 150px; }
  .stock_ex_header div:first-child {
    margin: 30px;
    width: 39px; }
  .stock_ex_header div:nth-child(2) {
    width: calc(20% + 20px); }
  .stock_ex_header div:nth-child(3) {
    width: 210px; }
  .stock_ex_header div:nth-child(4) {
    width: 22%; }
  .stock_ex_header div:nth-child(5) {
    width: 22%; }

.stock_ex_body {
  background-color: white;
  border-radius: 0 0 24px 24px; }

.stock_ex_unit {
  display: flex;
  align-items: center;
  border-bottom: 2px dashed #DBE2EA; }

.stock_numeration {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  background: url("img/number_wrap.png") no-repeat;
  background-size: contain;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; }

.stock_logo {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
  width: 20%;
  padding-left: 20px; }
  .stock_logo p {
    margin-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left; }

.stock_daily_turnover,
.stock_commission {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  width: 22%; }
  .stock_daily_turnover span,
  .stock_commission span {
    position: relative; }
    .stock_daily_turnover span:before,
    .stock_commission span:before {
      content: '';
      position: absolute;
      background: url("img/sss.png") no-repeat;
      width: 15px;
      height: 18px;
      right: -20px;
      top: 0; }

.progress_wrap {
  width: 200px;
  height: 15px;
  background: #CACED3;
  border-radius: 7px;
  margin: 5px; }

.progress_line {
  height: 15px;
  background: linear-gradient(90deg, #8EE3D5 0%, #16A48C 100%);
  border-radius: 7px;
  position: relative; }

.progress_pump {
  width: 25px;
  height: 34px;
  background: linear-gradient(90deg, #8EE3D5 0%, #16A48C 100%);
  border-radius: 8px;
  position: absolute;
  top: -60%;
  right: 0; }

.progress_counter {
  text-align: center;
  font-size: 25px;
  line-height: 29px;
  margin: 5px; }
  .progress_counter span {
    position: relative; }
    .progress_counter span:before {
      content: '';
      position: absolute;
      background: url("img/sss.png") no-repeat;
      width: 15px;
      height: 18px;
      right: -20px;
      top: 0; }

.stock_links {
  margin-right: 30px; }

.overview,
.open {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center; }

.overview {
  color: #0880AE;
  background-color: white;
  border: 1px solid #0880AE; }

.open {
  background-color: #0880AE;
  border: none;
  color: #FFFFFF; }

#Poloniex_wrap .progress_line {
  width: 98%; }

#EXMO_wrap .progress_line {
  width: 98%; }

#Stormgain_wrap .progress_line {
  width: 97%; }

#Upbit_wrap .progress_line {
  width: 96%; }

#LiveCoin_wrap .progress_line {
  width: 95%; }
